In [1]:
import pandas as pd
import math
from tabulate import tabulate

In [2]:
df=pd.read_excel("BD.xlsx")

## Oxígeno Disuelto (Q)

In [3]:
def calcular_OD(valor_OD):
    def calcular_Q_OD(OD):
        if OD>140:
            return 50
        else:
            return 3.1615e-8*OD**5-1.0304e-5*OD**4+1.0076e-3*OD**3-2.7883e-2*OD**2+8.4068e-1*OD-1.612e-1
    Q_OD=valor_OD.apply(calcular_Q_OD)
    return Q_OD
Q_OD=calcular_OD(df["Oxígeno Disuelto"])

dt_OD=[["Q Oxígeno Disuelto"],
        [Q_OD]]
tabla_OD=tabulate(dt_OD, headers="firstrow", tablefmt="fancy_grid")
print(tabla_OD)

df["Q OD"]=Q_OD

╒═════════════════════════════════════════════════════╕
│ Q Oxígeno Disuelto                                  │
╞═════════════════════════════════════════════════════╡
│ 0      98.426800                                    │
│ 1      98.426800                                    │
│ 2      98.426800                                    │
│ 3      98.426800                                    │
│ 4      98.426800                                    │
│          ...                                        │
│ 287    98.483657                                    │
│ 288    98.198192                                    │
│ 289    95.768635                                    │
│ 290    98.366673                                    │
│ 291    98.449383                                    │
│ Name: Oxígeno Disuelto, Length: 292, dtype: float64 │
╘═════════════════════════════════════════════════════╛

## Coliformes Fecales (Q)

In [4]:
def calcular_CF(valor_CF):
    def calcular_Q_CF(CF):
        if CF>100000:
            return 3
        else:
            return math.exp(-0.0152*math.log(CF)**2-0.1063*math.log(CF)+4.5922)
    Q_CF=valor_CF.apply(calcular_Q_CF)
    return Q_CF
Q_CF=calcular_CF(df["Coliformes Fecales"])

dt_CF=[["Q Coliformes Fecales"],
        [Q_CF]]
tabla_CF=tabulate(dt_CF, headers="firstrow", tablefmt="fancy_grid")
print(tabla_CF)

df["Q CF"]=Q_CF

╒═══════════════════════════════════════════════════════╕
│ Q Coliformes Fecales                                  │
╞═══════════════════════════════════════════════════════╡
│ 0      64.651903                                      │
│ 1      58.953083                                      │
│ 2      60.913866                                      │
│ 3      51.845921                                      │
│ 4      56.525545                                      │
│          ...                                          │
│ 287     3.000000                                      │
│ 288     8.285116                                      │
│ 289     3.000000                                      │
│ 290     7.757479                                      │
│ 291     3.000000                                      │
│ Name: Coliformes Fecales, Length: 292, dtype: float64 │
╘═══════════════════════════════════════════════════════╛

## Potencial de Hidrógeno (Q)

In [5]:
def calcular_pH(valor_pH):
    def calcular_Q_pH(pH):
        if pH>12:
            return 3
        elif pH>7.5:
            return -1.11429*pH**4+44.50952*pH**3-656.6*pH**2+4215.34762*pH-9840.14286
        elif pH>=2:    
            return -0.1789*pH**5+3.7932*pH**4-30.517*pH**3+119.75*pH**2-224.58*pH+159.46
        else:
            return 2
    Q_pH=valor_pH.apply(calcular_Q_pH)
    return Q_pH
Q_pH=calcular_pH(df["pH"])

dt_pH=[["Q Potencial de Hidrógeno"],
        [Q_pH]]
tabla_pH=tabulate(dt_pH, headers="firstrow", tablefmt="fancy_grid")
print(tabla_pH)

df["Q pH"]=Q_pH

╒═══════════════════════════════════════╕
│ Q Potencial de Hidrógeno              │
╞═══════════════════════════════════════╡
│ 0      93.229141                      │
│ 1      91.216303                      │
│ 2      93.229141                      │
│ 3      93.562350                      │
│ 4      93.562350                      │
│          ...                          │
│ 287    84.980500                      │
│ 288    80.854683                      │
│ 289    93.341403                      │
│ 290    93.492895                      │
│ 291    91.300755                      │
│ Name: pH, Length: 292, dtype: float64 │
╘═══════════════════════════════════════╛

## Demanda Bioquímica de Oxígeno (Q)

In [6]:
def calcular_DBO5(valor_DBO5):
    def calcular_Q_DBO5(DBO):
        if DBO>30:
            return 2
        else:
            return 1.8677e-4*DBO**4-1.6615e-2*DBO**3+5.9636e-1*DBO**2-1.1152e1*DBO+1.0019e2
    Q_DBO5=valor_DBO5.apply(calcular_Q_DBO5)
    return Q_DBO5
Q_DBO5=calcular_DBO5(df["DBO5"])

dt_DBO5=[["Q Demanda Bioquímica de Oxígeno"],
        [Q_DBO5]]
tabla_DBO5=tabulate(dt_DBO5, headers="firstrow", tablefmt="fancy_grid")
print(tabla_DBO5)

df["Q DBO5"]=Q_DBO5

╒═════════════════════════════════════════╕
│ Q Demanda Bioquímica de Oxígeno         │
╞═════════════════════════════════════════╡
│ 0      91.641640                        │
│ 1      93.709925                        │
│ 2      93.709925                        │
│ 3      93.709925                        │
│ 4      92.670162                        │
│          ...                            │
│ 287    67.779069                        │
│ 288    82.413058                        │
│ 289    51.400174                        │
│ 290    97.439014                        │
│ 291    51.400174                        │
│ Name: DBO5, Length: 292, dtype: float64 │
╘═════════════════════════════════════════╛

## Nitratos (Q)

In [7]:
def calcular_N(valor_N):
    def calcular_Q_N(N):
        if N>100:
            return 1
        else:
            return 3.5603e-9*N**6-1.2183e-6*N**5+1.6238e-4*N**4-1.0693e-2*N**3+3.7304e-1*N**2-7.521*N+1.0095e2
    Q_N=valor_N.apply(calcular_Q_N)
    return Q_N
Q_N=calcular_N(df["Nitratos"])

dt_N=[["Q Nitratos"],
        [Q_N]]
tabla_N=tabulate(dt_N, headers="firstrow", tablefmt="fancy_grid")
print(tabla_N)

df["Q N"]=Q_N

╒═════════════════════════════════════════════╕
│ Q Nitratos                                  │
╞═════════════════════════════════════════════╡
│ 0      54.783000                            │
│ 1      76.040560                            │
│ 2      76.040560                            │
│ 3      65.048276                            │
│ 4      56.588413                            │
│          ...                                │
│ 287    18.143869                            │
│ 288     1.000000                            │
│ 289     1.000000                            │
│ 290     1.000000                            │
│ 291     1.000000                            │
│ Name: Nitratos, Length: 292, dtype: float64 │
╘═════════════════════════════════════════════╛

## Fosfatos (Q)

In [8]:
def calcular_P(valor_P):
    def calcular_Q_P(P):
        if P>10:
            return 1
        else:
            return 4.6732e-3*P**6-1.6167e-1*P**5+2.20595*P**4-1.50504e1*P**3+5.38893e1*P**2-9.98933e1*P+9.98311e1
    Q_P=valor_P.apply(calcular_Q_P)
    return Q_P
Q_P=calcular_P(df["Fosfatos"])

dt_P=[["Q Fosfatos"],
        [Q_P]]
tabla_P=tabulate(dt_P, headers="firstrow", tablefmt="fancy_grid")
print(tabla_P)

df["Q P"]=Q_P

╒═════════════════════════════════════════════╕
│ Q Fosfatos                                  │
╞═════════════════════════════════════════════╡
│ 0      95.148300                            │
│ 1      93.084559                            │
│ 2      96.965598                            │
│ 3      96.009636                            │
│ 4      95.393258                            │
│          ...                                │
│ 287    67.690586                            │
│ 288    63.933186                            │
│ 289    24.475925                            │
│ 290    88.368685                            │
│ 291    54.213319                            │
│ Name: Fosfatos, Length: 292, dtype: float64 │
╘═════════════════════════════════════════════╛

## Cambio de Temperatura (Q)

In [9]:
def calcular_CT(valor_CT):
    def calcular_Q_CT(CT):        
        return 1.9619e-6*CT**6-1.3964e-4*CT**5+2.5908e-3*CT**4+1.5398e-2*CT**3-6.7952e-1*CT**2-6.7204e-1*CT+9.0392e1
    Q_CT=valor_CT.apply(calcular_Q_CT)
    return Q_CT
Q_CT=calcular_CT(df["Temperatura"])

dt_CT=[["Q Temperatura"],
        [Q_CT]]
tabla_CT=tabulate(dt_CT, headers="firstrow", tablefmt="fancy_grid")
print(tabla_CT)

df["Q CT"]=Q_CT

╒════════════════════════════════════════════════╕
│ Q Temperatura                                  │
╞════════════════════════════════════════════════╡
│ 0      43.519712                               │
│ 1      32.600961                               │
│ 2      34.011980                               │
│ 3      42.061037                               │
│ 4      45.023500                               │
│          ...                                   │
│ 287    37.980109                               │
│ 288    30.378247                               │
│ 289    28.218286                               │
│ 290    34.755698                               │
│ 291    30.676589                               │
│ Name: Temperatura, Length: 292, dtype: float64 │
╘════════════════════════════════════════════════╛

## Turbiedad (Q)

In [10]:
def calcular_T(valor_T):
    def calcular_Q_T(T):
        if T>100:
            return 5
        else:
            return 1.8939e-6*T**4-4.9942e-4*T**3+4.9181e-2*T**2-2.6284*T+9.8098e1
    Q_T=valor_T.apply(calcular_Q_T)
    return Q_T
Q_T=calcular_T(df["Turbiedad"])

dt_T=[["Q Turbiedad"],
        [Q_T]]
tabla_T=tabulate(dt_T, headers="firstrow", tablefmt="fancy_grid")
print(tabla_T)

df["Q T"]=Q_T

╒══════════════════════════════════════════════╕
│ Q Turbiedad                                  │
╞══════════════════════════════════════════════╡
│ 0      94.165088                             │
│ 1      89.895759                             │
│ 2      95.064151                             │
│ 3      93.082730                             │
│ 4      94.189897                             │
│          ...                                 │
│ 287    88.747745                             │
│ 288    91.802739                             │
│ 289    70.102234                             │
│ 290    92.499917                             │
│ 291    89.433913                             │
│ Name: Turbiedad, Length: 292, dtype: float64 │
╘══════════════════════════════════════════════╛

## Sólidos Totales (Q)

In [11]:
def calcular_ST(valor_ST):
    def calcular_Q_ST(ST):
        if ST>500:
            return 32
        else:
            return -4.4289e-9*ST**4+4.65e-6*ST**3-1.9591e-3*ST**2+1.8973e-1*ST+8.0608e1
    Q_ST=valor_ST.apply(calcular_Q_ST)
    return Q_ST
Q_ST=calcular_ST(df["Sólidos Totales"])

dt_ST=[["Q Sólidos Totales"],
        [Q_ST]]
tabla_ST=tabulate(dt_ST, headers="firstrow", tablefmt="fancy_grid")
print(tabla_ST)

df["Q ST"]=Q_ST

╒════════════════════════════════════════════════════╕
│ Q Sólidos Totales                                  │
╞════════════════════════════════════════════════════╡
│ 0      85.356493                                   │
│ 1      85.671472                                   │
│ 2      85.701402                                   │
│ 3      85.861200                                   │
│ 4      85.356493                                   │
│          ...                                       │
│ 287    84.976166                                   │
│ 288    85.835233                                   │
│ 289    77.409876                                   │
│ 290    85.490052                                   │
│ 291    82.170532                                   │
│ Name: Sólidos Totales, Length: 292, dtype: float64 │
╘════════════════════════════════════════════════════╛

## Índice de la Fundación Nacional de Saneaminto (INSF)

In [12]:
INSF=Q_OD*0.17+Q_CF*0.15+Q_pH*0.12+Q_DBO5*0.10+Q_N*0.10+Q_P*0.10+Q_CT*0.10+Q_T*0.08+Q_ST*0.08

def categorizar_ICA(INSF):
    def categorizar_INSF(INSF):
        if INSF>=91:
            return "Excelente"
        elif INSF>=71:
            return "Buena"
        elif INSF>=51:
            return "Regular"
        elif INSF>=26:
            return "Mala"
        else:
            return "Pésima"
    Categoria=INSF.apply(categorizar_INSF)
    return Categoria
Categoria=categorizar_ICA(INSF)

dt=[["INSF", "Categoría"],
    [INSF, Categoria]]
tabla=tabulate(dt, headers="firstrow", tablefmt="fancy_grid")
print(tabla)

df["INSF"]=INSF
df["Categoría"]=Categoria

╒═════════════════════════════╤════════════════════════════╕
│ INSF                        │ Categoría                  │
╞═════════════════════════════╪════════════════════════════╡
│ 0      80.488830            │ 0        Buena             │
│ 1      80.110454            │ 1        Buena             │
│ 2      81.591183            │ 2        Buena             │
│ 3      79.735328            │ 3        Buena             │
│ 4      79.770114            │ 4        Buena             │
│          ...                │         ...                │
│ 287    60.447158            │ 287    Regular             │
│ 288    59.622509            │ 288    Regular             │
│ 289    50.242044            │ 289       Mala             │
│ 290    65.500641            │ 290    Regular             │
│ 291    55.599849            │ 291    Regular             │
│ Length: 292, dtype: float64 │ Length: 292, dtype: object │
╘═════════════════════════════╧════════════════════════════╛

In [13]:
df.to_excel("BD_INSF.xlsx", index=False)